body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 600px;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0;
  font-size: 24px;
  text-align: center;
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.tab {
  color: #000000;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 50px;
}

.tab.active {
  border-bottom: 2px solid #000000;
}

.input-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

#task-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

button {
  padding: 10px 30px;
  border: none;
  background: #009fbd;
  color: #ffffff;
  cursor: pointer;
  border-radius: 6px;
}

button:disabled {
  background: grey;
}

ul {
  list-style: none;
  padding: 0;
  flex: 1;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

li .new-task input[type="checkbox"] {
  margin-right: 10px;
}

li.completed {
  text-decoration: line-through;
  color: grey;
}

.del-btn {
  background-color: #ffffff;
  color: #000000;
  display: flex;
  justify-content: flex-end;
}

#delete-all {
  width: 20%;
  background: #c80036;
  align-self: flex-end;
}
